<div class="page-width">
    <div class="grid">
      <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
        <div class="section-header text-center">
          <h1>{{ page.title }}</h1>
        </div>
        <div class="rte">
          <p id="paragraph-about"> Sam's Vinyls is located in the center of LA. We sell today's top artist's records and have a vast collection of vintage.</p>
        </div>
      </div>
    </div>
  </div>
  